.menu{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    list-style-type: none;

}
.menu li{
    padding: .9rem 1.2rem;
    border: 1px solid black;
    border-radius: 2px;
}